
@import url('https://fonts.googleapis.com/css?family=Cutive Mono|Roboto|Montserrat|Palanquin Dark|Slabo+13px|Nunito');
/*GENERAL-----------------------------------------------------------------------*/
h3{
    text-align: center;
}
h1{
    color: black;
}

a {
    text-decoration: none;
    font-family: 'Montserrat';
}

body {
    background: url("../images/fondo.png");
    background-repeat: repeat;
    background-size: 50px;
    /* background: rgba(245,245,245,1);
    background: -moz-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 66%, rgba(235,232,235,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,245,245,1)), color-stop(35%, rgba(255,255,255,1)), color-stop(66%, rgba(255,255,255,1)), color-stop(100%, rgba(235,232,235,1)));
    background: -webkit-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 66%, rgba(235,232,235,1) 100%);
    background: -o-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 66%, rgba(235,232,235,1) 100%);
    background: -ms-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 66%, rgba(235,232,235,1) 100%);
    background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 66%, rgba(235,232,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ebe8eb', GradientType=1 ); */
    overflow-x:hidden;
}

#body-container{
    background: url("../images/fondo.png");
    background-repeat: repeat;
    background-size: 10px;
    position:relative;
    
}

video{
    width: 100%;
}



















/*/////////////////////////////////HEADER--------------------------------------------------------------------------*/
header{
    background: rgba(226,226,226,1); 
background: rgba(0,0,0,1); 
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 64%, rgba(23,23,23,1) 100%); 
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(64%, rgba(23,23,23,1)), color-stop(100%, rgba(23,23,23,1))); 
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 64%, rgba(23,23,23,1) 100%); 
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 64%, rgba(23,23,23,1) 100%); 
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 64%, rgba(23,23,23,1) 100%); 
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 64%, rgba(23,23,23,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#171717', GradientType=0 ); 
}
.fila1{
    margin-top: -10px;
    margin-bottom: -20px;
    
}
.fila_1 span{
    color: #f4f4f4;
    margin-top: 25px; 
}
.enlaces-header a{
    color: #f4f4f4;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 13px;
}
#enlaces-derecha{
    position: relative;
    right: 50px;
}
.dropdown-menu{
    background-color: transparent;
}
.btn-secondary {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}
.btn-secondary:active {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}
.btn-secondary:hover {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}
#prueba{
    visibility: hidden;
}
#responsive-menu{
    position: absolute;
    visibility: hidden;
}
.header-list li {
    color: f4f4f4;
    margin: 15px;
    margin-top: 25px;
}
#user{
    color: #C8E2E2;
}
.fas {
    color: #C8E2E2;
}
#menu div{
    border: solid white 1px;
}

#presentacion img{
    
    margin-top: 10px;
    width: 40px;
}
#presentacion span{
    position: relative;
    top: 8px;
    margin-left: 10px;
}
#header-categorias{
    margin-top: 20px;
    border-top: solid #C8E2E2 1px;
}
#h2-categorias{
    margin-top: 20px;
    border-top: solid #C8E2E2 1px;
}

#logo {
    width: 50%;
  margin-left: auto;
  margin-right: auto;
  top:30px;
}

#logo img{
    width: 200px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    transition: 0.3s;
}
#logo img:hover{
    width: 225px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.container{
    max-width: 1300px;
    min-width: 575px;
    padding: 0;
}

.navbar-collapse{
    z-index: 2;
}

.texto{
    width: 300px;
}

#form-buscador{
}

#menu-categorias{
    height: 55px;
    width: 100%;
}

.mc{
    height: 43px;
    padding-top: 3px;
    z-index: 0;
    background: url(../images/blackfondo4352345432.png);
    background-repeat: repeat;
    background-size: 400px; 
    transition: 0.5s;
}
.mc:hover{
    /* background: url("../images/fverde.png");
    background-repeat: repeat;
    background-size: 100px; */
}
#navbarTogglerDemo01{
    width: 100%;
}
#navbarTogglerDemo03{
    height: 15px;
    margin-bottom: 100px;
}
.categorias-menu a{
    text-decoration: none;
    color: #f4f4f4;
    font-family: 'Montserrat';
}
.categorias-menu li{
    margin-left: 0;  
}
.categorias-menu-hidden ul{
    display: block;
    height: 100px;
}
.botonc {
    width: 420px;
    text-align: center;
    margin-top: 5px;
}
.botonizq{
    position: relative;
    left: -25px;
}
.botonizq a:hover{
    color: #ccff00;
}
.b2{
    position: relative;
    left: 5px;
}
.b2 :hover{
    color: #39ff14;
}
.b3{
    position: relative;
    left: 25px;
}
.b3 :hover{
    color: #FE0000;
}
.b4{
    position: relative;
    left: 35px;
}
.b4 :hover{
    color: #FF1493;
}
.b5{
    position: relative;
    left: 50px;
}
.b5 :hover{
    color: #FF5601;
}
.botonder{
    position: relative;
    left: 30px;
}
.botonder a:hover{
    color: #0098FD;
}
#sesion{
    position: absolute;
    right: -12px;
    top: -40px;
    width: 100%;   
    margin-left: 0px;
}
#sesion a{
    color: #929292;
    text-decoration: none;
    font-size: 14px;
    width: 800px;   
}
#sesion a:hover{
    color:#0998C2;
}
#sesion-hidden{
    margin-right: 15px;
}
#carrito-div{
    position: relative; 
}
#carrito{
    border-radius: 4px;
    display: inline-flex;
    width: 250px;
    height: 37px;
    border: solid black 1px;
    background-color: #FFFFFF;
    margin-right: 5px;
    transition: 0.5s;
    margin-right: 43px;
    position: relative;
}

.div-des-carrito{
    position: absolute;
    right: 5px;
}

#carritod{
    z-index: 2;
    display: none;
    position: absolute;
    top: 45px;
    right: 32px;
    width: 460px;
    background-color: #FFFFFF; 
    border: black double 3px;
}
.ir-pedido{
    position: absolute;
    top: 5px;
    right: 5px;
    }
#carrito .fas {
    position:  relative;
    margin: 10px;
    margin-right: 15px;
    color: #131313;
}
#carrito .cantidad{
    margin: 5px;
}
#carrito .cantidad-texto{
    margin: 5px;
}
#carrito .precio{
    margin: 5px;
    color: #0998C2;
}
.logo-carrito{
    background-color: dimgray;
    
}
#buscar{
    padding-left: 35px;
    background-color: #5C5C5C;
    color: #ffffff;
    border: rgb(58, 56, 56);
    width: 40%;
    transition: 0.8s;

}
#buscar::placeholder{
    color: #ffffff;
}
#buscar:focus::placeholder{
    color: #5C5C5C;
}
#buscar:focus{
    background-color: #FFFFFF;
    width: 60%;
    border:blue;
    color: #5C5C5C;
}
#buscador{
    position: relative;
    padding-left: 53px;
}

#buscadord{
    z-index: 2;
    visibility: hidden;
    position: absolute;
    top: 45px;
    left: 40px;
    width: 360px;
    background-color: #FFFFFF; 
    border: black double 3px;
}
.divlupa{
    position: relative;
    width: 100%;
    
}
.lupa .fas{
    color: #ffffff;
}
.lupa{
    position: absolute;
    left: 25px;
    top: 10px;
    z-index: 2;
}
.animacion{
    animation-name: example;
    transition: 0.4s;
    animation-duration: 4s;
}
@keyframes example {
    from {display: none;}
    to {visibility: visible}
}

.nombre-producto{
    z-index: 3;
}

.pie-carrito{
    margin: 15px;
}
.carrito-imagen{
    width: 85px;
    height: 85px;
    margin-left: 15px;
}
.buscador-imagen{
    width: 75px;
    height: 75px;
    margin-left: 15px;
}
.items-buscador{
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}
.item-carrito p{
    margin-top: 5px;
}

 @media screen and (max-width: 1300px) {
            .botonc {
                width: 200px;
            }        
}
 @media screen and (max-width: 1000px) {
     /*       
    #enlaces-derecha{
        position: absolute;
        visibility:hidden;
     }            
    #enlaces-izquierda{
        position: absolute;
        visibility:hidden;
     }  */          
    #buscador{
        position: absolute;
        visibility:hidden;
     }            
    #sesion{
        position: absolute;
        visibility:hidden;
     }            
    #carrito-div{
        position: absolute;
        visibility:hidden;
     }
    #header-categorias{
        position: absolute;
        visibility: hidden;
    } 
    #responsive-menu{
        position: relative;
        visibility: visible;
        padding-bottom: 10px;
    }
     #footer-hidden{
        position: relative;
        visibility: visible;
        padding-bottom: 10px;
     }
     #footer-datos{
        position: absolute;
        visibility: hidden;
     }
}
/* .botonc a:hover{
    color: #000000;
}
.botonc:hover{
    background-color: #C8E2E2;
} */

header ul{
    list-style: none;
    display: flex;
}

#colapse-categorias{
    background-color: #C8E2E2;
}
.box img{
    width: 400px;
    height: 350px;
}
 @media screen and (max-width: 1250px) {
            .box img {
                width: 375px;
                height: 325px;
                margin-top: 20px;
                margin-bottom: 20px;
                
                
            }        
}
 @media screen and (max-width: 1160px) {
            .box img {
                width: 350px;
                height: 300px;
                margin-top: 20px;
                margin-bottom: 20px;
                
                
            }        
}
 @media screen and (max-width: 1100px) {
            .box img {
                width: 350px;
                height: 300px;
                margin-top: 20px;
                margin-bottom: 20px;
                
                
            }        
}
 @media screen and (max-width: 1090px) {
            .box img {
                width: 300px;
                height: 250px;
                margin-top: 20px;
                margin-bottom: 20px;
                
                
            }        
}
 @media screen and (max-width: 992px) {
            .box img {
                width: 650px;
                height: 350px;
                margin-top: 20px;
                margin-bottom: 20px;
                
                
            }        
}
 @media screen and (max-width: 700px) {
            .box img {
                width: 80%;
                height: 350px;
                margin-top: 20px;
                margin-bottom: 20px;
                
                
            }        
}
.form-control:focus{
    border-color: #C8E2E2;
    box-shadow: 0 0 10px 0rem #C8E2E2;}











/*/////////////////////////// HOME////---------------------------------------------------------------------------*/

#banners {
    margin-top: 1px;       
    margin-left: -30px;
    margin-right: -30px;
}
#banners img{
    width: 100%;
    height: 350px;
}

#view-product{
    display: flex;
    margin: 0 auto;
}

#presentacion{
    margin-top: 25px;
    margin-bottom: 50px;
}
.producto {
    display: inline-block;
    margin: 0 auto;
}
.cab_producto{
    margin-bottom: 10px;
}
.producto img{
    width: 250px;
    height: 250px;
}
.img_producto{
    padding-top: 10px;
    padding-left: 50px;
    margin-bottom: 10px;
    margin: 10px;
}
.info_producto{
    padding: 0px 10px 5px 10px;
    margin-bottom: 20px;
}
.index_view{
    display: inline-block;
    margin-left: 20px;
    width: 390px;
    height: 300px;
    background-color: #D7D7D7;
}
.index_view img {
    
}


/*Carrusel*/
 @media screen and (max-width: 1100px) {
            .item-carrusel img{
                margin-left: 15px;
            }        
}
 @media screen and (max-width: 940px) {
            .item-carrusel img{
                width: 100px;
                margin-left: 15px;
            }        
}
 @media screen and (max-width: 700px) {
            .item-carrusel img{
                width: 100px;
                margin: 0;
            }        
}
#product-carrusel{
    margin-top: 25px;
    padding-bottom: 25px;
}
item-carrusel{
    
    
}
.precio-producto{
    color: black;
}
.imagen-carrusel{
    width: 150px;
    height: auto;
    margin-left: 20px;
}

















/*LOGIN /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.login-head{
    padding-top: 50px;
    border-bottom: solid black 1px;
}
.login-sesion{
    margin-top: 35px;
    margin-bottom: 35px;;
}

.login-titulo{
    border-bottom: solid black 1px;
}
.formulario{
    border: #F7F7F7 solid 1px;
    width: 100%;
    background-color: #F8F8F8;
    
    height: 350px;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.registro{
    border: #F7F7F7 solid 1px;
    width: 100%;
    background-color: #F8F8F8;
    height: 600px;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.registrado{
    margin-top: 50px;
    margin-bottom: 50px;
}



/*/////////////////////////// CUSTOM ////////////////////////////////////////////////////////////*/
.custom{
    padding-top: 35px;
    padding-bottom: 35px;  
}
.head-imagen{
    display:block;
    margin:auto;
}
.left-strings{
    margin-top: 100px;
}
.right-strings{
    margin-top: 100px;
}
.cuerdas-izq{
    margin: 35px;
}
.cuerdas-der{
    margin: 35px;
}




/*////////////////////// CATEGORIAS   ////////////////////////////////////////////////////////////////////////////////////*/
.categoria-show img{
    margin-top: 30px;
    width: 150px;
    height: 150px;
}

.filtro {
    padding: 15px;
    background-color: #E9ECEF;
}

.titulo-filtro{
    border-right: black solid 1px;
    padding-right: 10px;
}

.filtro div{
    display: inline-flex;
}















/*/////////////PRODUCTO///////////////////////////////////////*/

.producto-imagen{
    margin-left: 35px;
    border: #3B3B3B solid 1px;
    padding: 25px;
}
.producto-imagen img{
    width: 350px;
}
.descripcion{
    margin-top: 25px;
}

.marca-logo{
    top: 5px;
    right: 5px;
    position: absolute;
    width: 150px;
    height: 100px;
}












/*////////////PEDIDO/////////////////*/

.imagen-pedido{
    width: 50px;
}
.texto-pedido{
    
    position: relative;
    top: 60px;   
}
th .fas{
    color: red;
}







/*QUIENES SOMOS--------------------------------------------------------------------*/
#cuerpo_who{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
}

#info{
    width: 80%;
}

#menu_vertical{
    left: 550px;
    margin-left: 50px;
}

.productov img{
    width: 250px;
    height: 250px;
}



















/*CATALOGO----------------------------------------------------------------*/

#categorias{
    display: inline-block;
    float: left;
}
#catalogo{
    height: 140px;
}

/*CONTACTO----------------------------------------------------------------*/

#formulario{
    display: inline-block;
    float: left;
    width: 300px;
    margin-right: 30px;
}
#mapa{
    display: inline-block;
    width: 700px;
}

/*DETALLE PRODUCTO-------------------------------------------------------*/























/*PIE DE PAGINA----------------------------------------------------------*/
footer {
background: rgba(226,226,226,1);
background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 64%, rgba(23,23,23,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(64%, rgba(23,23,23,1)), color-stop(100%, rgba(23,23,23,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 64%, rgba(23,23,23,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 64%, rgba(23,23,23,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 64%, rgba(23,23,23,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 64%, rgba(23,23,23,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#171717', GradientType=0 );
}
#foot-contacto img{
    width: 200px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 850px;
    display: block;
}
#fimglogo{
    padding-top: 15px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
}

#foot-contacto {

}

.fi{
    width: 30px;
    height: auto;
}
#column_1{
    display: inline-block;
}
#column_2{
    display: inline-block;
}
#column_3{
    display: inline-block;
}
#column_4{
    display: inline-block;
}

.foot-datos{
    margin-left: 35px;
    width: 150px;
}
footer li{
    color: #E0E0E0;
    font-family:'Roboto';
    list-style: none;
}
.footer-enlaces a{
    font-size: 12  px;
    color: #E0E0E0;
    font-family: 'Ubuntu';
    text-decoration: none;
    
}
#footer-hidden{
        position: absolute;
        visibility: hidden;
}

#foot-img img{
    position: relative;
    width: 50%;
}

